<!DOCTYPE html>
<html>
<head>
    <title>EVulnScanner</title>
</head>
<body>

<h1>EVulnScanner</h1>

{% if session.username %}

    <p>
        👤 현재 로그인 :
        <b>{{ session.username }}</b>
    </p>

    <a href="/logout">로그아웃</a>

{% else %}

    <p>로그인되지 않았습니다.</p>

{% endif %}

<hr>

<p>웹/API 취약점 테스트용 사이트</p>

{% if not session.username %}

    <a href="/signup">회원가입</a>
    <br><br>

    <a href="/login">로그인</a>
    <br><br>

{% endif %}

<a href="/posts">게시판</a>
<br><br>

<a href="/upload">파일 업로드</a>

</body>
</html>